:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-secondary-light: rgb(236, 119, 174);
  --clr-secondary-dark: rgb(211, 27, 113);
  --clr-primary-light: rgb(234, 251, 238);
  --clr-primary-dark: #2d333b;
  --clr-theme: #1685e0;
  --clr-theme-light: #16e082;
  --clr-theme-dark: #16e082;
  --cl-text-light: aliceblue;
  --cl-text-dark: #7bb9ec;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.35),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
.main-display {
  background: #444c56;
}
.main-content {
  background-color: #444c56;
}
.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-grid {
  display: grid;
  grid-template-areas: 'grid1 grid1 grid2 grid3 grid3';
}

.left-blank {
  grid-area: grid1;
}
.right-blank {
  grid-area: grid3;
}

#first-name {
  float: left;
  margin: 0;
  width: 50%;
  left: 2%;
}
#last-name {
  float: right;
  margin: 0;
  width: 50%;
  right: 2%;
}
.input-signup {
  margin: auto;
}

.input-login {
  margin: auto;
}
.error {
  color: red;
}
.label {
  margin-left: -1rem;
}
.nav-color {
  background-color: var(--clr-primary-dark);
  color: aliceblue;
}
.button-color {
  background-color: var(--clr-secondary-dark);
  color: white;
}

.title {
  width: 100%;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;

  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

.signup-container {
  grid-area: grid2;
  top: 50%;
  transform: translate(0, -25%);
}
.login-container {
  grid-area: grid2;
  top: 50%;
  transform: translate(0, -25%);
}
.pointer {
  cursor: 'pointer';
}
.robort-check {
  float: right;
}
#age {
  float: left;
}

.navbar-light .navbar-nav .nav-link {
  color: aliceblue;
}

.navbar-light .navbar-nav .nav-link:visited {
  color: aliceblue;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(236, 119, 174);
}
a:active {
  color: whitesmoke;
}

.logo-picture {
  max-width: 100px;
  margin-left: -1em;
  margin-top: -1em;
  margin-bottom: -1.5em;
  transform: scale(0.8);
}
.logo-text {
  margin: 0 auto;
  cursor: default;
}
.card {
  /* max-width: 290px; */
  height: 250px;
  justify-content: center;
  /* align-items: flex-start; */
}
